* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: white;

}

button {
    width: 80px;
}

.hero-content, .header-links {
    color: white;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.header-links {
    /* display: flex; */
    /* overflow: hidden; */
    /* justify-content: space-between; */
    /* gap: 10px; */

}

.split-col {
    display: flex;
    
}

.placeholder {
   display: flex;
   flex-direction: column;
   flex: 1;
    width: 400px;
    height: 200px;
    background-color: grey;
    text-align: center;
    
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}


