* {
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
}

body {
    background-color: rgb(55, 56, 66);
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-family: "Roboto", sans-serif;
}
    
    
a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-button {
    width: 90px;
    margin-top: 1em;
    padding: 4px;
    border: none;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}

.hero-content {
    padding: 1em 5em;
}

.hero-content, .header-links, .footer{
    color: white;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 16px;
}

.header-logo {
    color: white;
    font-weight: 900;
    font-size: 24px
    
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.header-links, .secondary-text {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}
    
.split-col {
    display: flex;
    padding: 6em 0em;
}

.placeholder {
    display: flex;
   flex-direction: column;
   width: 400px;
    height: 200px;
    background-color: grey;
    text-align: center;
    justify-content: center;
}
    
.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 3em;
}

/* Information section */

.info {
    background-color: white;
}

.header-info {
    text-align: center;
    margin: 16px;
    font-size: 36px;
    font-weight: 900;
}

.box {
    display: flex;
    justify-content: center;

}
.box-container {
    flex-shrink: 0;
    width: 140px;
    height: 150px;
    margin: 20px;
    margin-bottom: 0px;
    border-style: solid;
    border-radius: 8px;
    border-color: #3882f6;
}
    
.text-container {
    display: flex;
    justify-content: center;
    
}

.text {
    margin: 0px 20px;
    width: 140px;
    text-align: center;
    margin-bottom: 10em;
}

/* Quote Section */

.quote-section {
    display: flex;
    min-width: 1000px;

}

.quote {
    padding: 50px;
    background-color: #e5e7eb;
    font-style: italic;
    color: #8d939c;
    font-weight: lighter;
    font-size: 36px;
    padding: 50px 4.4em;
}

.quoted {
    text-align: right;
    font-weight: bold;
    color: #1f2937;
    font-size: 24px;
    padding: 0px 20px;
}

/* Call to Action */

.section-4 {
    display: flex;
    justify-content: center;
}   

.action-container {
    display: flex;
    width: 800px;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #3882f6
}
 
.call-container {
    flex-direction: column;
    /* flex-basis: 60%; */
}

.call-to-text {

    font-size: 20px;
    font-weight: bold;
}

.secondary-call-text, .call-to-text {

color: white;

}

.button {
 border-style: solid;
 border-color: white;
 border-radius: 6px;
 background-color: #3882f6;
 color: white;
 padding: 5px 0px;
 width: 80px;
}

/* Footer */

.footer {
    display: flex;
    align-content: center;
    background-color: #1f2937;
    padding: 30px;
    color:bisque;
    height: 80px;
}