* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-button {
    width: 90px;
    margin-top: 1em;
    padding: 4px;
    border: none;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}

.hero-content {
    padding: 1em 5em;
}

.hero-content, .header-links, .footer{
    color: white;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 16px;
}

.header-logo {
    color: white;
    font-weight: 900;
    font-size: 24px
    
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.header-links, .secondary-text {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}
    
.split-col {
    display: flex;
    padding: 6em 0em;
}

.placeholder {
   display: flex;
   flex-direction: column;
   width: 400px;
    height: 200px;
    background-color: grey;
    text-align: center;
    justify-content: center;
}
    
.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 3em;
}

/* Information section */
 